body{
    background: url('../img/mont_aiguille.jpg');
    //background: url('../img/foret.jpg')no-repeat;
    background-size: 110%;
}

#titre{
margin-left:2%;
    font-family: "Berlin Sans FB";
}

#presentation{
    height:30%;
    width:30%;
    margin-left:10%;
    margin-top:20%;
    color:white;
}

#logo{
    height:100%;
    width:35%;
}

#navbarNav {
    background-color: #724b15;
}

.lienNavbarre{
    color:white;
}
.lienNavbarre:hover{
    color:black;
}

.navbar{
    background-color: #724b15;
}

#catalogue{
    border:solid black 2px;
    background-color: white;
    margin:1%;
}

#nomproduit{
margin:5%;
}

#descriptionproduit{
    background-color: white;
    margin-top:2%;
}

#infosProduit{
    font-size:150%;
    margin-left:-20%;
}

#imageDetailProduit{
    margin-right: -5%;
}


